<left><div class="user-welcome d-flex align-items-baseline border-bottom mx-5 justify-content-bewteen">
  <h1 class="me-2">Welcome, DM <%= @user.username %></h1><p> Active Campaigns</p>
  <div>
  </div>
</div></left>

<div class="card">
  <%= @user.campaigns %>
</div>